{% extends "base.html" %}
{% load static %}


    {% block title %}
        Home
    {% endblock %}

    {% block content %}

    <div class="container">

        <article class="post">

            <h1>{{ post.title }}</h1>

            <p class="meta">
                By {{ post.author }} · {{ post.created_at }}
            </p>

            <p>{{ post.content }}</p>

            <a href="{% url 'edit_post' post.id %}">
                Edit Post
            </a>

            <br><br>

            <form
                method="POST"
                action="{% url 'delete_post' post.id %}"
                onsubmit="return confirmDelete();"
            >
                {% csrf_token %}

                <button type="submit" class="btn danger">
                    Delete Post
                </button>
            </form>

            <br>

            <a href="{% url 'home' %}">← Back to Home</a>

        </article>

    </div>

   {% endblock %}